{% load static %}

    <div class="footer" id="footer">
                <div class="row">
                    <div class="foot col-lg-2 col-md-2 col-sm-6">
                        <h4>Company</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Affiliate Program</a></li>
                        </ul>
                    </div>
                    <div class="foot col-lg-2 col-md-2 col-sm-6">
                        <h4>Products</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Brands</a></li>
                            <li><a href="#">Authors</a></li>
                            <li><a href="#">Publishers</a></li>
                            <li><a href="#">List</a></li>
                            <li><a href="#">Reviews</a></li>
                        </ul>
                    </div>
                    <div class="foot col-lg-2 col-md-2 col-sm-6">
                        <h4>Shop by</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Book Category</a></li>
                            <li><a href="#">Boi Mela 2022</a></li>
                            <li><a href="#">Islamic Book</a></li>
                            <li><a href="#">Pre Order</a></li>
                            <li><a href="#">best Selling</a></li>
                            <li><a href="#">Extra Discount</a></li>
                        </ul>
                    </div>
                    <div class="foot col-lg-2 col-md-2 col-sm-6">
                        <h4>Quick Links</h4>
                        <ul class="list-unstyled">
                            <li><a href="https://dshe.gov.bd/">DSHE</a></li>
                            <li><a href="https://banbeis.gov.bd/">BANBEIS</a></li>
                            <li><a href="https://bangladesh.gov.bd/index.php">BD National Portal</a></li>
                            <li><a href="https://www.sylhetboard.gov.bd/">Sylhet Board</a></li>
                            <li><a href="https://ugc.gov.bd/">UGC</a></li>
                            <li><a href="https://www.sust.edu/">SUST</a></li>
                            <li><a href="https://www.du.ac.bd/">Dhaka University</a></li>
                        </ul>
                    </div>
                    <div class=" foot foot2 col-lg-4 col-md-4 col-sm-6">
                        <h4>Follow Us</h4>
                        <table border="0" class="pt-3">
                            <tr>
                                <th width="10%"><i class="fa fa-phone" aria-hidden="true"></i></th>
                                <td> +8801714-226605</td>
                            </tr>
                            <tr>
                                <th width="10%"><i class="fa fa-envelope" aria-hidden="true"></i></th>
                                <td> lgisc2005@gmail.com</td>
                            </tr>
                            <tr>
                                <th width="10%"><i class="fa fa-map-marker" aria-hidden="true"></i></th>
                                <td> Azim Cottage, Prottasha-22, Mohammadpur R/A, Islampur, Sylhet-3100., Sylhet, Bangladesh</td>
                            </tr>
                        </table>
                        <ul class="social-icons nav justify-content-right mt-3">
                            <li class="nav-item"><a class="nav-link social link" href="https://www.facebook.com/LGISC/"><i class="fab fa-facebook fa-2x mt-2" style="color: #5787e9" aria-hidden="true"></i></a></li>
                            <li class="nav-item"><a class="nav-link social link" href="#"><i class="fab fa-twitter fa-2x mt-2" style="color: #1DA1F2" aria-hidden="true"></i></a></li>
                            <li class="nav-item"><a class="nav-link social link" href="#"><i class="fab fa-instagram fa-2x mt-2" style="color: #7a09fc" aria-hidden="true"></i></a></li>
                            <li class="nav-item"><a class="nav-link social link" href="#"><i class="fab fa-whatsapp fa-2x mt-2" style="color: #25D366" aria-hidden="true"></i></a></li>
                            <li class="nav-item"><a class="nav-link social link" href="#"><i class="fab fa-facebook-messenger fa-2x mt-2" style="color: #00B2FF" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>


                </div>
            </div>
