{% extends 'base.html' %}
{% block content %}
<div class="page-header">
                  <div class="row">
                     <div class="col-sm-12">
                        <h3 class="page-title">London Grace Ideal School</h3>
                        <ul class="breadcrumb">
                           <li class="breadcrumb-item active">Dashboard</li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xl-3 col-sm-6 col-12 d-flex">
                     <div class="card bg-one w-100">
                        <div class="card-body">
                           <div class="db-widgets d-flex justify-content-between align-items-center">
                              <div class="db-icon">
                                 <i class="fas fa-user-graduate"></i>
                              </div>
                              <div class="db-info">
                                 <h3>{{student_count}}</h3>
                                 <h6>Students</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-sm-6 col-12 d-flex">
                     <div class="card bg-two w-100">
                        <div class="card-body">
                           <div class="db-widgets d-flex justify-content-between align-items-center">
                              <div class="db-icon">
                                 <i class="fas fa-chalkboard-teacher"></i>
                              </div>
                              <div class="db-info">
                                 <h3>{{staff_count}}+</h3>
                                 <h6>Staff</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-sm-6 col-12 d-flex">
                     <div class="card bg-three w-100">
                        <div class="card-body">
                           <div class="db-widgets d-flex justify-content-between align-items-center">
                              <div class="db-icon">
                                 <i class="fas fa-graduation-cap"></i>
                              </div>
                              <div class="db-info">
                                 <h3>{{class_count}}</h3>
                                 <h6>Class</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-sm-6 col-12 d-flex">
                     <div class="card bg-four w-100">
                        <div class="card-body">
                           <div class="db-widgets d-flex justify-content-between align-items-center">
                              <div class="db-icon">
                                 <i class="fas fa-book"></i>
                              </div>
                              <div class="db-info">
                                 <h3>{{subject_count}}</h3>
                                 <h6>Subject</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-12 col-lg-6">
                     <div class="card card-chart">
                        <div class="card-header">
                           <div class="row align-items-center">
                              <div class="col-6">
                                 <h5 class="card-title">All Data</h5>
                              </div>
                           </div>
                        </div>
                        <div class="card-body">
                           <div id="All_details"></div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-12 col-lg-6">
                     <div class="card card-chart">
                        <div class="card-header">
                           <div class="row align-items-center">
                              <div class="col-6">
                                 <h5 class="card-title">Number of Students</h5>
                              </div>
                           </div>
                        </div>
                        <div class="card-body">
                           <div id="stud_gender"></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6 d-flex">
                     <div class="card flex-fill">
                        <div class="card-header">
                           <h5 class="card-title">Star Students</h5>
                        </div>
                        <div class="card-body">
                           <div class="table-responsive">
                              <table class="table table-hover table-center">
                                 <thead class="thead-light">
                                    <tr>
                                       <th>ID</th>
                                       <th>Name</th>
                                       <th class="text-center">Marks</th>
                                       <th class="text-center">Percentage</th>
                                       <th class="text-right">Class</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <td class="text-nowrap">
                                          <div>1</div>
                                       </td>
                                       <td class="text-nowrap">WALIF  MOHIAN</td>
                                       <td class="text-center">1085</td>
                                       <td class="text-center">83%</td>
                                       <td class="text-right">
                                          <div>Seven</div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="text-nowrap">
                                          <div>2</div>
                                       </td>
                                       <td class="text-nowrap">ISHAN  SAHA</td>
                                       <td class="text-center">1040</td>
                                       <td class="text-center">81.5%</td>
                                       <td class="text-right">
                                          <div>Seven</div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="text-nowrap">
                                          <div>3</div>
                                       </td>
                                       <td class="text-nowrap">SAFWAN  NAVID</td>
                                       <td class="text-center">1123</td>
                                       <td class="text-center">89.6%</td>
                                       <td class="text-right">
                                          <div>Seven</div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="text-nowrap">
                                          <div>4</div>
                                       </td>
                                       <td class="text-nowrap">TAMJID RAHMAN  SAMI</td>
                                       <td class="text-center">1087</td>
                                       <td class="text-center">85.2%</td>
                                       <td class="text-right">
                                          <div>Seven</div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="text-nowrap">
                                          <div>5</div>
                                       </td>
                                       <td class="text-nowrap">SOHAN  AHMED RAHI</td>
                                       <td class="text-center">1185</td>
                                       <td class="text-center">93%</td>
                                       <td class="text-right">
                                          <div>Seven</div>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 d-flex">
                     <div class="card flex-fill">
                        <div class="card-header">
                           <h5 class="card-title">Student Activity</h5>
                        </div>
                        <div class="card-body">
                           <ul class="activity-feed">
                              <li class="feed-item">
                                 <div class="feed-date">Apr 13</div>
                                 <span class="feed-text"><a>SWAPNIL  DEB</a> won 1st place in <a>"Chess"</a></span>
                              </li>
                              <li class="feed-item">
                                 <div class="feed-date">Mar 21</div>
                                 <span class="feed-text"><a>TAMJID RAHMAN  SAMI</a> participated in <a href="invoice.html">"Carrom"</a></span>
                              </li>
                              <li class="feed-item">
                                 <div class="feed-date">Feb 2</div>
                                 <span class="feed-text"><a>JAWADUL  EHSAN</a> attended international conference in <a href="profile.html">"Rajuk Uttara High School"</a></span>
                              </li>
                              <li class="feed-item">
                                 <div class="feed-date">Apr 13</div>
                                 <span class="feed-text"><a>SPORSHO DEB  NATH</a> won 2nd place in <a>"Chess"</a></span>
                              </li>
                              <li class="feed-item">
                                 <div class="feed-date">Mar 21</div>
                                 <span class="feed-text"><a>SAFWAN  NAVID</a> participated in <a href="invoice.html">"Carrom"</a></span>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xl-3 col-sm-6 col-12">
                     <div class="card flex-fill fb sm-box">
                        <i class="fab fa-facebook"></i>
                        <h6>133</h6>
                        <p>Likes</p>
                     </div>
                  </div>
                  <div class="col-xl-3 col-sm-6 col-12">
                     <div class="card flex-fill twitter sm-box">
                        <i class="fab fa-twitter"></i>
                        <h6>96</h6>
                        <p>Follows</p>
                     </div>
                  </div>
                  <div class="col-xl-3 col-sm-6 col-12">
                     <div class="card flex-fill insta sm-box">
                        <i class="fab fa-instagram"></i>
                        <h6>85</h6>
                        <p>Follows</p>
                     </div>
                  </div>
                  <div class="col-xl-3 col-sm-6 col-12">
                     <div class="card flex-fill linkedin sm-box">
                        <i class="fab fa-linkedin-in"></i>
                        <h6>45</h6>
                        <p>Follows</p>
                     </div>
                  </div>
               </div>
{% include 'includes/chart.html' %}
{% endblock %}